$font-family-base: Helvetica, Arial, sans-serif, -apple-system;

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  h1 {
    color: #2f2f41;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 3rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3.125rem;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: #2f2f41;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: #5C5A5A;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
